/* Estilos para el gráfico */
.grafico-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  
  .barra {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .nombre-candidato {
    font-weight: bold;
  }
  
  svg {
    border-radius: 15px;
    overflow: hidden;
    transition: width 0.5s;
  }
  
  text {
    pointer-events: none;
  }
  